<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Cadastra Lembrete</title>
    <style>
        body{
            width: 60%;
            height: 60%;
            margin: 0 auto;
        }
    </style>
  </head>
  <body>
    <h1>Cadastra Lembrete</h1>

    <form method="POST" action="/salva"> 
        <div class="form-group">
          <label for="nome">Nome: </label>
          <input type="text" class="form-control" th:value="${lembrete.nome}" id="nome" name="nome">
          <small id="emailHelp" class="form-text text-muted">Seu nome deve ter no minimo 3 caracter</small>
        </div>
        <div class="form-group">
            <label for="descricao">Descrição: </label>
            <textarea class="form-control" value="" id="descricao" th:value="${lembrete.descricao}" name="descricao" rows="3"></textarea>
        </div>
        <div class="form-group">
          <label for="data">Data: </label>
          <input type="date" value="" class="form-control" th:value="${lembrete.data}" id="data" name="data">
        </div>
        <button type="submit" class="btn btn-dark">Carcelar</button>
        <button type="submit" class="btn btn-dark">Enviar</button>
      </form>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>